<div class="row">
  <div class="columns large-3">
    <div class="m-bottom">
      <%= link_to :back do %>
        <%= icon "chevron-left", class: "icon--small", role: "img", "aria-hidden": true %> <%= t(".back") %>
      <% end %>
    </div>
  </div>
  <div class="columns large-6">
    <h2 class="section-heading"> <%= t(".title") %> </h2>
    <div class="card">
      <div class="card__content">
        <%= decidim_form_for(@form, html: { class: "form new_post" }) do |f| %>
          <%= render partial: "form", object: f %>

          <div class="button--double form-general-submit">
            <%= f.submit t(".button") %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="columns large-3"></div>
</div>

